extends layout.pug

block content

  article.portfolio-intro

    //- Replace with your own heading like 'My Portfolio', or 'Hey, Potential Employers', or 'Let's make the web great together!' 
    h1 Hey, Future Employers

    //- Replace with a description for your portfolio, what this project is, it's purpose, what it's supposed to accomplish, etc. 
    p This portfolio is going to tell you a little bit about myself and why I'd be a great fit for your company. It will also display some of the projects that I've worked on, and hopefully that will give you some idea of what I am capable of.


  article.portfolio-project-thumbs
    .projects-box.box.grid
  
      //- Use the Pug `each` iterator to loop over the projects in your data file  
        
          //- Use the example Pug code below and interpolated template literals as needed to dynamically generate:
            //- The paths in the link's href and img's src attributes
            //- The text 'Thumbnail' interpolated with the project title for the img's alt attribute
            //- The project title for the h5 element's text
     
      each project in projects
        .cell
          a(href=`/projects/${project.id}`)
            img.thumbnail(src=`${project.thumbnails}`, alt='Thumbnail')
            h5= project.project_name

