<!DOCTYPE html>
html(lang="en" dir="ltr")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Portfolio Site
    link(href='https://fonts.googleapis.com/css?family=Merriweather:300,400,400i,700,800', rel='stylesheet')
    link(rel='stylesheet', href='/static/css/normalize.css')
    link(rel='stylesheet', href='/static/css/styles.css')

  body
    #my-info.sidebar
      .sidebar-info-box
        br
        .thumbnail-box
          img.thumbnail(src='https://placehold.it/550x350', alt='Profile Picture')
        .dev-intro-box

          //- Replace with your name
          h5 Alec Stephens

          //- Replace with description of who you are, what you do, and why you are so awesome
          p I'm sure you've already seen my name somewhere on here, but if not, my name is Alec. And when i'm not working my fast food job, I study the many fassets of web development. I try to spend 2 - 3 hours per day after work studying. And something about myself that I consider to be a positive is my ability to not get frustrated when facing a problem. Because as we all know when you're new to web development, you run into a lot of errors in your code. Well, at least I did. When that happens you have to be able to stay calm and think level headed, because it seems that sometimes when you fix on error, 2 more appear. 

          //- Add path from your '/about' route handler to the href below
          a(href='/about') Learn More &rarr;

    .wrapper
      .header
        .header-info-box
          button#menu-icon.menu-icon(type='button' data-toggle='my-info')

          //- Replace with your name — this is for the mobile layout
          span Alec Stephens

      block content

  script(src='/static/js/script.js')